@tailwind base;
@tailwind components;
@tailwind utilities;body {
  background-color: #050505;
  color: #ededed;
  font-family: 'Inter', sans-serif;
}/* এই অংশটুকু যোগ করুন */
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

