.header { text-align: center; padding: 40px 20px; }
.title { letter-spacing: 12px; font-size: 24px; font-weight: 900; margin: 0; }
.subTitle { font-size: 7px; color: #444; letter-spacing: 4px; margin-top: 8px; }
