.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; padding: 20px; }
.productCard { background: #0a0a0a; padding: 10px; border-radius: 20px; border: 1px solid #111; }
.img { width: 100%; border-radius: 15px; }
.name { font-size: 10px; text-align: center; margin-top: 10px; }
.categoryWrapper { padding: 0 20px; }
.catHeader { display: flex; justify-content: space-between; margin: 20px 0; }
.catTitle { font-size: 12px; letter-spacing: 3px; }
.backBtn { font-size: 10px; color: #444; cursor: pointer; }
.scrollContainer { display: flex; overflow-x: auto; gap: 20px; padding: 10px 20px; scrollbar-width: none; scroll-snap-type: x mandatory; }
.catItem { min-width: 85vw; scroll-snap-align: center; background: #0a0a0a; border-radius: 40px; border: 1px solid #1a1a1a; overflow: hidden; margin: 0 auto; }
.btnStyle { flex: 1; background: #111; color: #fff; border: 1px solid #333; padding: 16px; border-radius: 15px; font-weight: bold; font-size: 11px; letter-spacing: 1px; cursor: pointer; text-align: center; }
